<h1>Cards#new</h1>
<p>Find me in app/views/cards/new.html.erb</p>
<br>



<%= form_for @card do |f| %>

  <%= f.label "Enter Credit Card:" %>
  <%= f.text_field :cardnum %>
  <br>
  <br>

  <%= f.label "Card Security Number:" %>
  <%= f.text_field :cardsecuritynum %>  
  <br>
  <br>

  <%= f.label "Expiration Date:" %>
  <%= f.text_field :cardexp %>
  <br>
  <br>

  <%= f.label "Card Company:" %>
  <%= f.text_field :cardcompany %>
  <br>
  <br>

  
  <%= f.submit "Submit"  %>

<% end %>